<div class="container">
    <div class="jumbotron">
        <h1 class="display-4 text-center">Bienvenidos al restaurante Decoffe</h1>

      <p class="lead">Su restaurante de confianza</p>
      <hr class="my-4">
      <p>Ofrecemos las mejores recetas de la ciudad</p>
    </div>
  
    <div class="row">
      <div class="col-md-6" style="margin-bottom: 30px;">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Pedir platos</h5>
            <p class="card-text">Acceda a una gran cantidad de recetas internacionales</p>
            <a routerLink="/pedir-plato" class="btn btn-primary">Acceder</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Ver bodega de ingredientes</h5>
            <p class="card-text">Conozca la disponibilidad de ingredientes y pida un plato a su medida</p>
            <a routerLink="/pedir-bodega" class="btn btn-primary">Acceder</a>
          </div>

         

        </div>




      </div>

      <div class="col-md-6" style="margin-bottom: 30px;">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Ver nuestras recetas</h5>
            <p class="card-text">Conozca los platos que nuestros cheffs tienen para hoy</p>
            <a routerLink="/ver-recetas" class="btn btn-primary">Acceder</a>
          </div>

         

        </div>



        
      </div>

      <div class="col-md-6" style="margin-bottom: 30px;">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Historial de pedidos</h5>
            <p class="card-text">Desde esta sección se puede observar el historial de pedidos efectuados</p>
            <a routerLink="/historial-pedidos" class="btn btn-primary">Acceder</a>
          </div>

         

        </div>



        
      </div>


      <div class="col-md-6" style="margin-bottom: 30px;">
        <div class="card">
          
          <div class="card-body">
            <h5 class="card-title">Ingredientes comprados en la plaza de mercado</h5>
            <p class="card-text">Desde esta sección se puede ver el listado de ingredientes que se han comprado</p>
            <a routerLink="/ingredientes-comprados" class="btn btn-primary">Acceder</a>
          </div>

         

        </div>



        
      </div>

    </div>
  </div>